{% block sysinfo %}
    <style>
        .progress-bar {
            color: white !important;
        }
    </style>
    <div class="container content">
        <div class="row">
            <div class="col pt-3">
                {% for server in arm_servers %}
                    <div class="card mx-auto">
                        <div class="card-header text-center">
                            {% if server.arm_type == "ui" %}
                                <strong>System - Web </strong>
                            {% else %}
                                <strong>System - Ripper </strong>
                            {% endif %}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{ server.name }}
                                    </div>
                                    <div class="col">
                                        {{ server.description }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ server.cpu }}
                                    </div>
                                    <div class="col">
                                        {% if server.arm_type == "ripper" %}
                                            [Intel:
                                            {% if server.hardware_intel %}
                                                <img src="{{ url_for('static', filename='img/success.png') }}" alt="update" width="20px" height="20px">
                                            {% else %}
                                                <img src="{{ url_for('static', filename='img/fail.png') }}" alt="update" width="20px" height="20px">
                                            {% endif %}
                                            ] [Nvidia:
                                            {% if server.hardware_nvidia %}
                                                <img src="{{ url_for('static', filename='img/success.png') }}" alt="update" width="20px" height="20px">
                                            {% else %}
                                                <img src="{{ url_for('static', filename='img/fail.png') }}" alt="update" width="20px" height="20px">
                                            {% endif %}
                                            ] [AMD:
                                            {% if server.hardware_amd %}
                                                <img src="{{ url_for('static', filename='img/success.png') }}" alt="update" width="20px" height="20px">
                                            {% else %}
                                                <img src="{{ url_for('static', filename='img/fail.png') }}" alt="update" width="20px" height="20px">
                                            {% endif %}]
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {% if server.cpu_temp is not none %}
                                        <section class="{{ ' bg-danger text-white' if server.cpu_temp > 70 }}">
                                            CPU Temp: {{ server.cpu_temp }}&#176;C
                                        </section>
                                    {% else %}
                                        CPU Temp: not reported
                                    {% endif %}
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar{{ ' bg-danger' if server.cpu_usage > 80 }}"
                                                 role="progressbar"
                                                 style="width: {{ ' 10' if server.cpu_usage < 10 else server.cpu_usage }}%;"
                                                 aria-valuenow="{{ server.cpu_usage }}" aria-valuemin="0" aria-valuemax="100">
                                                {{ server.cpu_usage }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Memory: {{ server.mem_total }}GB Used: {{ server.mem_used }}GB Free: {{ server.mem_available }}GB
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar{{ ' bg-danger' if server.mem_percent > 80 }}"
                                                 role="progressbar"
                                                 style="width: {{ server.mem_percent }}%;"
                                                 aria-valuenow="{{ server.mem_percent }}" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                {{ server.mem_percent }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% if server.arm_type == "ripper" %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            Storage: Config [{{ server.storage_config_available }}GB free]
                                        </div>
                                        <div class="col">
                                            {% if server.storage_config_percent is not none %}
                                                <div class="progress">
                                                    <div class="progress-bar{{ ' bg-danger' if server.storage_config_percent > 80 }}"
                                                         role="progressbar"
                                                         style="width: {{ server.storage_config_percent }}%;"
                                                         aria-valuenow="{{ server.storage_config_percent }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">{{ server.storage_config_percent }}%
                                                    </div>
                                                </div>
                                            {% else %}
                                                No value reported
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Storage: Transcode [{{ server.storage_transcode_available }}GB free]
                                        </div>
                                        <div class="col">
                                            {% if server.storage_transcode_percent is not none %}
                                                <div class="progress">
                                                    <div class="progress-bar{{ ' bg-danger' if server.storage_transcode_percent > 80 }}"
                                                         role="progressbar"
                                                         style="width: {{ server.storage_transcode_percent }}%;"
                                                         aria-valuenow="{{ server.storage_transcode_percent }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">{{ server.storage_transcode_percent }}%
                                                    </div>
                                                </div>
                                            {% else %}
                                                No value reported
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Storage: Completed [{{ server.storage_completed_available }}GB free]
                                        </div>
                                        <div class="col">
                                            {% if server.storage_completed_percent is not none %}
                                                <div class="progress">
                                                    <div class="progress-bar{{ ' bg-danger' if server.storage_completed_percent > 80 }}"
                                                         role="progressbar"
                                                         style="width: {{ server.storage_completed_percent }}%;"
                                                         aria-valuenow="{{ server.storage_completed_percent }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">{{ server.storage_completed_percent }}%
                                                    </div>
                                                </div>
                                            {% else %}
                                                No value reported
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
